
// .flex-container {
//   display: flex;
//   background-color: grey;
// }

// .flex-container > div {
//   background-color: #f1f1f1;
//   margin: 5px;
//   padding: 1px;
//   font-size: 20px;
// }
html {
    background-color: #0B2161;
    }

p {
  font-family: Lato;
}
.nav{
  display:flex;
  justify-content: center;
  background-color: DodgerBlue;
  height: 40px;
  margin: 0;
}
li {
  margin-right: 20px;
  margin-left: 20px;
}