<header class="header-6">
    <div class="branding">
        The Movie Network
    </div>
    <!--<div class="header-nav">-->
    <!--    <a href="javascript://" class="active nav-link nav-text" (click)= 'onClick()'>Currently Popular Movies</a>-->
    <!--    <a href="javascript://" class="nav-link nav-text">Your Favorite Movies</a>-->
    <!--</div>-->
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
<html>
  <router-outlet>
      
      <ul class="nav navbar-nav">
    <li>
      <a routerLink="home">Home</a>
    </li>
    <li>
      <a routerLink="favorites">Favorite Movies</a>
    </li>
    <li>
      <a routerLink="login">Login</a>
    </li>
    <li>
      <a routerLink="register">Register</a>
    </li>
    <li>
      <a (click) = "userLogout()">Logout</a>
    </li>
  </ul>
  
  </router-outlet>
</html>